$primary-color: #1C1C1C; //background
$secondary-color: #262626; //gamecards
$tertiary-color: #47B5FF; //titles 
$quaternary-color: #DFF6FF; //other text
$delete-color: #b80600; //delete button
$delete-hover-color: #770400; //delete button hover
$secondary-hover-color: #202024; //cancel button hover

:root {
    --primary-color: #1C1C1C;
    --secondary-color: #262626;
    --tertiary-color: #47B5FF;
    --quaternary-color: #DFF6FF;
  }
  


//RADIO BUTTONS AND SEARCH BAR
.radio-button{
    color: $quaternary-color;
    opacity: 0.7;
}

#search-container{ padding: 20px;}
 
.card-container {margin: 10px;}
