@import "../index.scss";

.AchievementCardFlex{

    display: flex;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
   
}
.Dashboard{
    margin: 10px;
    padding: 10px;
    border: 3px solid $secondary-color;
    border-radius: 10px;
    background-color: white;
}
.Circle{
    width:20%;
}

h1{
    padding: 10px;
    color: $secondary-color;
}

h2{
    padding: 10px;
    color: $secondary-color;
}

.loading{
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loadingText{
    color: $secondary-color;
    text-align: center;
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.searchBar{
    display:flex;
    justify-content: center;
    padding: 10px;
}

