@import "../index.scss";

.AchievementCardFlex{

    display: flex;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
   
}
.Dashboard{
    margin: 10px;
    padding: 10px;
    border: 3px solid $primary-color;
    border-radius: 10px;
    background-color: $secondary-color;
}
.Circle{
    width:30%;
}

h1{
    padding: 10px;
    color: $tertiary-color;
}

h2,h3{
    padding: 10px;
    color: $quaternary-color;
}

#gameImg{
    border-color: $secondary-color;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}


