@import "../index.scss";

body{
    background-color: $primary-color !important;
}

.welcomeHeader{
    color: $secondary-color;
    text-align: center;
    font-size: 3.5rem;
}

.welcomeDescription{
    color: $secondary-color;
    text-align: center;
    font-size: 1.75rem;
    padding-bottom: 1rem;
}