@import "../index.scss";

.Dashboard{
    margin: 10px;
    padding: 10px;
    border: 3px solid $primary-color;
    border-radius: 10px;
    background-color: $secondary-color;
}

#button-text{
    margin-top: 7px;
}
#text-color{
    color: $tertiary-color;
}